---
title: Welcome to Middleman
---

<div class="hero-unit">
  <h1>This is Perfection</h1>
  <p>An exploration of futile futility</p>
  <p>
    <a class="btn btn-primary btn-large">
      Get it
    </a>
  </p>
</div>